@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Mono", monospace;
  background-color: #f8f9fa;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #2c2c2c;
  color: #f1f1f1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

.header-title {
  font-size: 32px;
}

.header-desc {
  font-size: 20px;
  font-weight: 500;
}

.header-format {
  display: flex;
  gap: 1rem;
  font-size: 15px;
}

.formatted {
  background-color: #e9ecef;
  padding: 0.25rem;
  border-radius: 5px;
  font-weight: 500;
}

.dark-mode .formatted {
  background-color: #444;
}

.header-info {
  margin-top: 1rem;
  font-size: 15px;
}

#function {
  font-family: "Fira Mono", monospace;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

#minterms,
#maxterms {
  padding: 1rem;
  font-weight: 400;
  max-width: 500px;
}

#minterms span,
#maxterms span {
  font-style: italic;
}

.input-wrap {
  display: flex;
}

.input-prefix {
  font-weight: 600;
  padding: 1rem 0.75rem;
  font-style: italic;
  font-size: 18px;
}

.main-container {
  min-height: 65vh;
}

.footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: auto;
  padding: 1rem;
}

.footer a {
  color: inherit;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  letter-spacing: 1em;
  padding: 0.5em 0 0.5em 1em;
  text-align: center;
}

th {
  padding: 1rem;
}

td {
  border: 1px solid #ddd;
}

.dark-mode td {
  border: 1px solid #666;
}

.dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dark-mode .dark-mode-toggle {
  background-color: #eee;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    gap: 1rem;
  }

  .header-title {
    font-size: 24px;
    text-align: center;
  }

  .header-desc {
    font-size: 16px;
    text-align: center;
  }

  .header-format {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  #function {
    width: 75%;
    font-size: 14px;
    padding: 0.75rem 1rem;
  }

  .container {
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
  }

  #minterms,
  #maxterms {
    padding: 0.5rem;
    font-size: 14px;
  }

  .input-wrap {
    flex-direction: column;
    align-items: center;
  }

  .input-prefix {
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
    text-align: center;
  }
}
